@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --background-lighter: #f3f4f6; /* Slightly lighter background color */
  --button-color: #F87171; /* Default button color */
}

:root.dark {
  --background: #2c2c2c; /* Softer dark grey */
  --foreground: #ededed;
  --background-lighter: #3a3a3a; /* Slightly lighter background color for dark mode */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}
