.checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid #d1d5db;
  border-radius: 6px;
  appearance: none;
  cursor: pointer;
  transition: all 0.2s ease;
  display: none; /* Hide the default checkbox */
}

.toggle {
  position: relative;
  width: 50px;
  height: 24px;
  margin-left: 10px; /* Add margin to the left */
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 24px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--button-color); /* Use the selected button color */
}

input:checked + .slider::before {
  transform: translateX(26px);
}

.resetButton {
  width: 100%;
  padding: 0.5rem;
  background-color: var(--button-color); /* Use the selected button color */
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.resetButton:hover {
  background-color: #ef4444;
}

.colorPickerContainer {
  position: relative;
  width: 200px;
}

.colorPickerButton {
  width: 100%;
  padding: 0.5rem;
  background-color: var(--background-lighter);
  color: var(--foreground);
  border: none; /* Remove the border */
  border-radius: 0.25rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.colorPickerButton::after,
.themePickerButton::after {
  content: "";
  border: solid var(--foreground);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  transition: transform 0.3s;
}

.colorPickerButton.open::after,
.themePickerButton.open::after {
  transform: rotate(-135deg);
}

.colorPickerButton span,
.themePickerButton span {
  display: flex;
  align-items: center;
}

.colorPickerButton span:first-child,
.themePickerButton span:first-child {
  margin-right: auto;
}

.colorPickerPopup {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  padding: 0.5rem;
  background: var(--background-lighter);
  color: var(--foreground);
  border: none; /* Remove the border */
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  opacity: 0;
  visibility: hidden;
  transform: scaleY(0);
  transform-origin: top;
  transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
  z-index: 10;
}

.colorPickerPopup.open {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}

.colorGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
}

.colorOption {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s;
}

.colorOption:hover {
  transform: scale(1.1);
}

@media (min-width: 480px) {
  .resetButton {
    width: 200px;
  }
}

.colorPicker {
  width: 20px;
  height: 20px;
  padding: 0;
  border: 2px solid #d1d5db;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
  background: none;
}

.colorPicker::-webkit-color-swatch-wrapper {
  padding: 0;
}

.colorPicker::-webkit-color-swatch {
  border: none;
}

.colorPicker::-moz-color-swatch {
  border: none;
}

.open {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}

.themePickerContainer {
  position: relative;
  width: 200px;
}

.themePickerButton {
  width: 100%;
  padding: 0.5rem;
  background-color: var(--background-lighter);
  color: var(--foreground);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.themePickerPopup {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  padding: 0.5rem;
  background: var(--background-lighter);
  color: var(--foreground);
  border: none;
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  opacity: 0;
  visibility: hidden;
  transform: scaleY(0);
  transform-origin: top;
  transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
  z-index: 10;
}

.themePickerPopup.open {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}

.themeOption {
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.themeOption:hover {
  background-color: var(--background-hover);
}
